body{

    background: white;
}
h2{

    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#EDB4BE;
}

h3{

    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #425E80; 

    
}

h5{
    text-align: left;
    font-family: 'Times New Roman', Times, serif
    font-size: 15px;
    color: black; 

}

#footer-image{
    height: 250px;
    width: 250px; 


}

footer{ 

    background: #EDB4BE; 
}